%a{:href=> '/contribute/'}
  %button{:class=>"btn btn-info btn-large"}
    List of all contributions

- if current_user
  %a{:href=> (url_for current_user)}
    %button{:class=>"btn btn-primary btn-large"}
      List of user contributions

%a{:href=> '/contribute/new'}
  %button{:class=>"btn btn-success btn-large"}
    Add new contribution
