%div{:class => "contribution"}
  %p
    =link_to contribution.user.name, contribution.user
    made contribution from
    =link_to contribution.url, contribution.url

    %p
      title:
      = contribution.title
    %p
      description:
      = contribution.description

  %p
    Look at this contribution
    =link_to 'here', contribution

  %br
