[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/101rails/current
Environment=RAILS_ENV=production
Environment=PORT=9292

ExecStart=/home/ubuntu/.rvm/wrappers/ruby-2.7.2/bundle exec --keep-file-descriptors puma -C /home/ubuntu/101rails/current/config/puma_production.rb
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
