<div class='row inner-page' style="margin-top: 100px;">
  <div class='col-md-6'>
    <div class='tag-cloud'></div>
  </div>
  <div class='col-md-6'>
    <div class='frontpage-description'>
      <%= @front_page.render.html_safe %>
    </div>
    <br>
    <br>
  </div>
</div>
