<div class='row inner-page' style="margin-top: 100px;">
  <div class='col-md-6'>
    <div class='tag-cloud'></div>
  </div>
  <div class='col-md-6'>
    <div class='frontpage-description'>
      <%= t('landing.project_text') %>
    </div>
    <br>
    <br>
    <%= link_to(t('landing.project_go'), page_path('101project'), class: 'btn btn-info btn-centered') %>
  </div>
</div>
