<div class="tab-content page">
  <div class="tab-pane" id='technologies'>
    <%= render('technologies') %>
  </div>

  <div class="tab-pane" id='languages'>
    <%= render('languages') %>
  </div>

  <div class="tab-pane active" id='101'>
    <%= render('101') %>
  </div>

  <div class="tab-pane" id='contributions'>
    <%= render('contributions') %>
  </div>

</div>
