%div{:class => 'user'}
  %p
    %img{:src=>user.github_avatar,:class => 'github_avatar', :alt => user.name}
  %p
    Username: #{user.name}
  %p
    Email:
    %a{:href => "mailto:#{user.email}"}
      = user.email
  %p
