%div{:class => 'user'}
  %p
    = gravatar_image_tag(user.email, :class => 'github_avatar', :alt => user.name)
  %p
    Username: #{user.name}
  %p
    Email:
    %a{:href => "mailto:#{user.email}"}
      = user.email
  %p
