%h1
  %img{:src=>@user.github_avatar,:class => 'github_avatar', :alt => @user.name}
  = @user.name

%h2 User Contributions
- @user.contributions.each do |contribution|
  = render 'contributions/shared/view', :contribution => contribution, :is_linked => true
