%h1
  %img{:src=>@user.github_avatar,:class => 'github_avatar', :alt => @user.name}
  = @user.name

- if (@user == current_user) && current_user.old_wiki_users?
  %a{:href=> '/users/claim_pages'}
    %button{:class=>"btn btn-success"}
      Claim pages from old wiki

%div.clearfix
