%div#help_login

  %h1
    Wellcome to Contribution Process!

  %div#step1.step

    %div.half-left
      %img{:src => image_path('codercat.png')}

    %div.half-right
      Hello new contributor!
      Before you will begin exiciting contibutiong process you need to be logged in with your github profile.
      If you don't have such account - create it now.
      %a{:href => "https://github.com/signup/free", :target=>"_blank"} It's really simple and absolutely free!

  %div#step2.step

  %div#step3.step
    %input{:class => "btn btn-success", :type => "submit", :value => "Start contributing now!"}
