<script type="text/javascript">
	Wiki.currentUser = new Wiki.Models.User(<%= j current_user.to_json.html_safe %>);

	<% if can? :update, @page %>
		Wiki.currentUser.set('actions', ['View', 'Edit'])
	<% else %>
		Wiki.currentUser.set('actions', ['View'])
	<% end %>
</script>

<h2>List of all guided tours:</h2>
<div id="tours">
<ul id="tourlist" style="list-style-type: none"></ul>
</div>
<script type="text/javascript">
  jQuery(document).ready(function ($){
    Tours.tours  = new Tours.Models.ToursList(<%= j @tours.to_json.html_safe -%>)
    new Tours.Routers.ToursRouter(Tours.Views.Index);
    Backbone.history.start();
  })
</script>