<h2>List of all guided tours:</h2>
<ul id="tourlist"></ul>
<script type="text/javascript">
  jQuery(document).ready(function ($){
    Tours.tours  = new Tours.Models.ToursList(<%= j @tours.to_json.html_safe -%>)
    new Tours.Routers.ToursRouter(Tours.Views.Index);
    Backbone.history.start();
  })
</script>
