<div id="tour"></div>
<script type="text/javascript">
  jQuery(document).ready(function ($){
    Tours.tour  = new Tours.Models.Tour(<%= j @tour.to_json.html_safe -%>)
    new Tours.Routers.ToursRouter(Tours.Views.Tour);
    Backbone.history.start();
  })
</script>
