#contribution.tab-pane

  %h2 Information about contribution

  - if @page.worker_findings and !@page.worker_findings.empty?

    #workerFindings

      %h3 Worker findings

      - findings = JSON.parse(@page.worker_findings)

      - if findings
        - findings.each do |one_finding|
          - one_finding.keys.each do |finding_key|
            %p
              %b
                = finding_key.capitalize
              \: #{ContributionModule.contribution_array_to_string(one_finding[finding_key])}

      - if  (@can_administrate_contribution or @can_update_contribution)
        - apply_url = PageModule.escape_wiki_url @page.full_title
        %a#applyFindings.btn.btn-success{:href => "/contribute/apply_findings/#{apply_url}"}
          Apply findings in contribution page
