<h2>
  Syntax for editing wiki
</h2>
For you are available next options:
<p>
  <button class="btn btn-small">
    <b>
      Bold
    </b>
  </button>
  will make text bold.
</p>
<p>
  <button class="btn btn-small">
    <i>
      Italic
    </i>
  </button>
  will make text italic.
</p>
<p>
  <button class="btn btn-small">
    <u>
      Underline
    </u>
  </button>
  will make text underlined.
</p>
<p>
  <button class="btn btn-small">
    <s>
      Strike
    </s>
  </button>
  will make text striked.
</p>
<p>
  <button class="btn btn-small">
    <b style="color:rgb(69, 150, 81);">Headline</b>
  </button>
  will allow you to paste code headline into the page.
</p>
<p>
  <button class="btn btn-small">
    <u style="color:rgb(62, 133, 201);">Link</u>
  </button>
  will allow you to link into the page.
</p>
<p>
  <button class="btn btn-small">
    <span class="code-button">Code</span>
  </button>
  will allow you to paste code with syntax highlight into the page.
  You will need to define used programming language.
</p>
<p>
  <button class="btn btn-small">
    <i class="icon-picture"></i>
    Image
  </button>
  will allow you to paste image into the page.
</p>
<p>
  <button class="btn btn-small">
    <i class="icon-list-ol"></i>
    List
  </button>
  is list with bullets.
</p>
<p>
  <button class="btn btn-small">
    <i class="icon-list-ul"></i>
    Counted list
  </button>
  is list with numbers.
</p>
<p>
  <button class="btn btn-small">
    <i class="icon-desktop"></i>
    Slideshare
  </button>
  will allow your to insert slideshare presentation into the page. You need to copy link
  to presentation and insert it as parameter in this tag.
</p>
<p>
  <button class="btn btn-small">
    <i class="icon-youtube"></i>
    Youtube
  </button>
  will allow your to insert youtube video into the page. You need to copy link
  to youtube page with video and insert it as parameter in this tag.
</p>
<p>
  <button class="btn btn-small">
    <i class="icon-code"></i>
    Fragment
  </button>
  will allow your to insert code snippets from
  <b>
    <a href="/wiki/@worker">@worker.</a>
  </b>
</p>
