%h2 Linked GitHub repo
- if can? :edit, @page
  = render "/pages/repo_form"

- if @page.repo_link
  %a.btn.btn-primary{:href => @page.repo_link.full_url, :target => '_blank'}
    %i.icon-github-alt
    Go to GitHub
- else

  %p
    This page doesn't have link to GitHub repo now.
    - if !current_user
      %a{:href => "/auth/github"}
        Click here to log in and continue.
