<h2>
  If you want to create a new page
  <b><%= @full_title %></b>
  <%= link_to('click here', create_new_page_page_path(@full_title)) %>
</h2>

<h2>
  Or go
  <%= link_to('to homepage', '/wiki/101project') %>
</h2>
