<div id='page'>
  <div id='contentTop'>
    <div id="topEditBar" class="editBar">
      <div class="btn-toolbar editing" style="display: block;">
        <div class="btn-group">
          <% if can? :edit, @page %>
          <div class="editButton btn btn-small" id="pageCancelButton">
            <i class="icon-remove"></i>
            <strong>Cancel</strong>
          </div>
          <div class="editButton btn btn-small" id="pageSaveButton">
            <i class="icon-ok"></i>
            <strong>Save</strong>
          </div>
          <% else %>
          <div class="editButton btn btn-small" id="pageCancelButton">
            <i class="icon-remove"></i>
            <strong>Back</strong>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div id='title'>
      <h1><%= @page.full_title %></h1>
    </div>

  </div>

  <div id='sections'>
    <div id="sections-source" style="height: 400px; width: 100%;">
      <% if can? :edit, @page %>
      <div id='edit-options' class="editormenu btn-group">

        <button data-editoraction="bold" class="btn btn-small">
          <b>Bold</b>
        </button>

        <button data-editoraction="italic" class="btn btn-small">
          <i>Italic</i>
        </button>

        <button data-editoraction="underline" class="btn btn-small">
          <u>Underline</u>
        </button>

        <button data-editoraction="strike" class="btn btn-small">
          <s>Strike</s>
        </button>

        <button data-editoraction="headline" class="btn btn-small">
          <b style="color:rgb(69, 150, 81);">Headline</b>
        </button>

        <button data-editoraction="link" class="btn btn-small">
          <u style="color:rgb(62, 133, 201);">Link</u>
        </button>

        <button data-editoraction="code" class="btn btn-small">
          <span class="code-button">Code</span>
        </button>

        <button data-editoraction="picture" class="btn btn-small">
          <i class="icon-picture"></i> Image
        </button>

        <button data-editoraction="list-ol" class="btn btn-small">
          <i class="icon-list-ol"></i> List
        </button>

        <button data-editoraction="list-ul" class="btn btn-small">
          <i class="icon-list-ul"></i> Counted list
        </button>

        <button data-editoraction="slideshare" class="btn btn-small">
          <i class="icon-desktop"></i> Slideshare
        </button>

        <br>

        <button data-editoraction="youtube" class="btn btn-small">
          <i class="icon-youtube"></i> Youtube
        </button>

        <button data-editoraction="fragment" class="btn btn-small">
          <i class="icon-code"></i> Fragment
        </button>

        </div>
        <% end %>
      <textarea id='pageeditor' style='width: 100%; height: 100%'>
        <%= @page.raw_content %>
      </textarea>

      <script>
        $('#pageeditor').acedInitTA();
        var editor = $('#pageeditor').data('ace-div').aced();
        window.editor = editor;

        editor.setTheme("ace/theme/wiki")
        editor.getSession().setMode("ace/mode/wiki")
        editor.getSession().setUseWrapMode(true)
        editor.on('change', function() {
          self.editor.replaceAll('[[@', { needle: '[[101' });
        });
        <% unless can? :edit, @page %>
        editor.setReadOnly(true)
        <% end %>

        var options = {
          'bold': {start: "'''", end: "'''"},
          'italic': {start: "''", end: "''"},
          'underline': {start: "<ins>", end: "</ins>"},
          'strike': {start: "<del>", end: "</del>"},
          'headline': {start: "==", end: "=="},
          'link': {start: "[[", end: "]]"},
          'code': {start: "<syntaxhighlight lang=\"???\">\n", end: "\n</syntaxhighlight>"},
          'picture': {start: "[[media:FULL_LINK_TO_PICTURE]]", end: ""},
          'list-ol': {start: "\n*", end: "\n*\n*\n"},
          'list-ul': {start: "\n#", end: "\n#\n#\n"},
          'slideshare': {start: "<media url='URL_TO_SLIDEHSARE_PRESENTATION' />", end: ""},
          'youtube': {start: "<media url='URL_TO_YOUTUBE_VIDEO' />", end: ""},
          'fragment': {start: "<fragment url='URL_TO_FRGAMENT' explore='true'/>", end: ""}
        };

        $('#pageCancelButton').click(function() {
          history.back();
        });

        $('#pageSaveButton').click(function() {
          var content = $('#pageeditor').val();

          // take the current url with update instead of edit
          var url = window.location.pathname.replace(/edit$/, '');

          $.ajax({
            url: url,
            type: 'PUT',
            data: {
              content: content,
              newTitle: '<%= @page.full_title %>'
            }
          }).done(function(data) {
            window.location.pathname = '/wiki/' + data.newTitle;
          })
        });

        // connect helper buttons
        $('#edit-options button').click(function() {
          var button = $(this);
          var option = button.attr('data-editoraction');
          var help = options[option];

          var toWrap = editor.getSession().getTextRange(editor.getSelectionRange());
          editor.getSession().replace(editor.getSelectionRange(), help.start + toWrap + help.end);
          editor.navigateRight(help.end.length);
        });

      </script>
    </div>
  </div>

</div>
