<div id='search-results'>

  <%= @search_results.group_by(&:namespace).each do |name, pages| %>
    <h3><%= name %></h3>
    <ul>
      <% pages.each do |page| %>
        <li class='search-result'>
          <a href='<%= '/wiki/' + page.url %>'><%= page.title %></a>
        </li>
      <% end %>
    </ul>
  <% end %>

</div>
