    <div class="row-fluid">
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="" data-toggle="tab">101wiki</a></li>
      <li ><a href="" id="discovery-tab-link">101explorer</a></li>
      <li class="dropdown" id="sourcelinks">
        <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">
          101repo<b class="caret"></b>
        </a>
        <ul id="menu1" class="dropdown-menu" role="menu"></ul>
      </li>
    </ul>
    <div id="page">
      <h3 class="content-loading">
        <center><img src="/assets/ajax-loader.gif"/> Loading page...</center>
      </h3>
    </h3>
    </div>
    <%= render "/pages/shared/default" %>
    <br>
    <div id="infofooter">
      <div id="history">
      </div>
    </div>
    <div class="modal fade" id="modal">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
      </div>
      <h3>
        <div id="modal_body"></div>
      </h3>
    </div>
    <div id="disqus_thread"></div>
    <div id="disqus_loader" style="text-align: center">
      <button class="btn" onclick='$.ajaxSetup({cache:true});$.getScript("http://101companies.disqus.com/embed.js");$.ajaxSetup({cache:false});$("#disqus_loader").remove();'><strong>Load Disqus Comments</strong></button>
    </div>
