
<div class="row-fluid">
  <div class="span12">
         <ul class="breadcrumb">
          <li><a href="#">Home</a> <span class="divider">/</span></li>
          <!--li><a href="#">Wiki</a> <span class="divider">/</span></li-->
        </ul>
    </div>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="" data-toggle="tab">Wiki</a></li>
  <li class="dropdown" id="sourcelinks">
    <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">
      Source<b class="caret"></b>
    </a>
    <ul id="menu1" class="dropdown-menu" role="menu"></ul>
  </li>
</ul>

<div id="page">
  <div class="modal hide fade" id="creationmodal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Create new section...</h4>
  </div>
    <div class="modal-body">
      <p>Name:</p>
      <input id="sname" name="sname" type="text">
      <p>Insert after:</p>
      <select id="sposition"></select>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" id="createSection">Create</a>
  </div>
</div>
  <div id="top">
    <div id="title">
      <h1/>
    </div>
    <div id="topeditbar">
      <div class="btn btn-small topButton" id="sectionAddButton" title="Add section">
        <i class="icon-plus"></i>
        <strong>Add Section</strong>
      </div>
      <div class="editorbutton btn btn-small topButton" id="pageCancelButton">
        <i class="icon-remove"></i>
        <strong class="editbuttontext">Cancel</strong>
      </div>
      <div class="btn btn-small topButton" id="pageEditButton">
        <i class="icon-pencil"></i>
        <strong>Edit page</strong>
      </div>
    </div>
 </div>
 <div id="sections">
  <div id="sections-parsed">
    <%= parse(@page) -%>
  </div>
  <div id="sections-source">
        <div id="pageeditor"/>
  </div>
 </div>
</div>
<div id="addtional-sections">
  <div class="section">
      <div id="backlinks">
        <h2>Links:</h2>
      </div>
  </div>

  <div class="section">
    <div id="resources">
      <h2>Resources:</h2>
      <div class="smallinfo">(hover to expand)</div>
    </div>
  </div>
</div>

<%= render "/pages/shared/default" %>

    <p id="infofooter">
    	| <i class="icon-user"></i> <a href="#">

<% if @page.history.user?  -%>
    <%= @page.history.user.email %></a>
<% else -%>
<% end -%>

    	| <i class="icon-calendar"></i>

<% if signed_in? -%>
  <%= @page.history.updated_at %>
<% else -%>
<% end -%>

     <!-- | <i class="icon-comment"></i> <a href="#">3 Comments</a>
      | <i class="icon-share"></i> <a href="#">39 Shares</a> -->
  </p>
</div>
<div class="modal fade" id="modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
  </div>
  <h3><div id="modal_body"></div><h3>
</div>
<div id="disqus_thread"></div>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = '101companies'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
