= render "/pages/shared/default"

- namespaces_with_repo = "%wContribution Language Feature Technology Concept"
- show_repo_tab = current_user and (namespaces_with_repo.include? @page.namespace) and (can? :manage, @page)

%ul.nav.nav-tabs

  %li.active
    %a#page-tab-link.tab-link{"data-toggle" => 'tab', :href => '#page'} 101wiki

  %li
    %a#discovery-tab-link{:target => '_blank'} 101explorer

  - if show_repo_tab
    %li
      %a.tab-link{:href => "#repo"} Repo

  - exist_last_change = !@page.page_changes.nil? ? @page.page_changes.last : nil
  - if exist_last_change
    %li
      %a#history-tab-link.tab-link{:href => "#page-changes"} History of editing

  %li#sourcelinks.dropdown
    %a#drop4.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
      101repo
      %b.caret
    %ul#menu1.dropdown-menu{:role => "menu"}

.tab-content

  / tab with backbone page
  #page.tab-pane.active

    %h3.content-loading
      %center
        %img{:src => "/assets/ajax-loader.gif"}/
        Loading page...

  / tab with all contributions settings
  - if show_repo_tab
    = render "/pages/contribution_tab"

  / tab with all history revisions
  - if exist_last_change
    = render "/pages/history_tab"

%br

#infofooter
  #history

#modal.modal.fade
  .modal-header
    %a.close{"data-dismiss" => "modal"} &times;
  %h3
    #modal_body

#disqus_thread

- disq = "$ajaxSetup({cache:true});"+
-  "$.getScript(\"http://101companies.disqus.com/embed.js\");"+
-  "$.ajaxSetup({cache:false});"+
-  "$(\"#disqus_loader\").remove();"

#disqus_loader{:style => "text-align: center"}
  %button.btn{:onclick => "#{disq}"}
    %strong Load Disqus Comments
