<%= stylesheet_link_tag 'clones' %>
<div id="creation">
  <h2>Clone an existing contribution</h2>
   <hr>
  <script type="text/javascript">
      jQuery(document).ready(function ($){
          window.router = new Wiki.Routers.ClonesRouter();
          Backbone.history.start({pushState: true});
      })
  </script>
  <div id ="candidates-container">
   <h3>Select a contribution to clone</h3>
  </div>
  <br>
  <hr>
  <div id="features-container">
    <h3>Select features to clone</h3>
     <div id="features"></div>
  </div>
  <hr>
  <div id="name-container">
    <h3>Select a name for the new clone</h3>
    <input type="text"/>
  </div>
  <hr>
  <div id="preview-container">
    <h3></h3>
  </div>
  <button class="btn" id="submit">Create!</button>
  <span id="submit-error" class="text-error"></span>
</div>


