<script type="text/javascript">
  jQuery(document).ready(function ($){
    window.router = new Wiki.Routers.ClonesRouter();
    Backbone.history.start({pushState: true});
  })
</script>
<div id="clone"></div>

