= form_tag('/contribute/new', :id => 'create_contribution', :method => :post) do

  %h2 Obvious parameters:

  %p
    %span
      Github repo for contribution
      %i{:class => 'icon-asterisk red_asterisk'}
    %p
      = select(:contrb_repo_url, nil, @user_github_repos)

  %p
    %span
      Title of contribution
      %i{:class => 'icon-asterisk red_asterisk'}
    %p
      %input{:name => 'contrb_title', :placeholder => 'Obvious', :id => 'contribution_title'}

  %h2 Additional parameters:

  %p
    = label_tag "Description for contribution"
    %textarea{:name => 'contrb_description', :placeholder => 'Not obvious'}

  %p
    = label_tag "Folder in repo"
    %input{:name => 'contrb_folder', :placeholder => 'Not obvious'}

  %p
    %button{:type => "submit", :id => 'contribution_submit', :class => "btn-large btn btn-success"}
      Create contribution
