%a{:href=> '/contribute/new'}
  %button{:class=>"btn btn-success btn-large"}
    Add new contribution

%h1 List of last contributions

%div#contributions
- @contributions.each do |contribution|
  = render 'contributions/shared/view', :contribution => contribution, :is_linked => true

- if !defined? @contributions
  %p
    No contributions are available now =/
