= render 'contributions/shared/navigation'

%h1 List of last contributions

%div#contributions
  - @contributions.each do |contribution|
    = render 'contributions/shared/view', :contribution => contribution, :is_linked => true

- if !defined? @contributions
  %p
    No contributions are available now =/
