%div#help_login

  %h1
    Welcome to the 101Companies Contribution Process!

  %div#step1.step

    %div.half-left
      %img{:src => image_path('codercat.png')}

    %div.half-right
      %b 1.
      Before you are able to start the contributing process you need to be logged in with your Github profile.
      If you don't have such account - create it now.
      %br
      %a{:href => "https://github.com/signup/free", :target=>"_blank"} It's really simple and absolutely free!

  %div#step2.step
    %b 2.
    Now, please ensure, that you have added
    %b  public email
    to your profile account
    %a{:href=>'https://github.com/settings/profile', :target=>"_blank"}
      on settings page
    %p
    %img{:src => image_path('readme_profile.png')}

  %div#step3.step
    %b 3.
    Now make sure, that you have uploaded the project, which you want to contribute with, to a github repo

  %div#step4.step
    %b 4.
    After that, start contributing by clicking the button below and follow the instructions
    %p
      %br
      %img{:src=>image_path('contributor-process.png')}
    %br
    %p
      %a{ href: "/auth/github" }
        %input{:class => "btn btn-large btn-success", :type => "submit", :value => "Start contributing"}
