<title>101linkeddata</title>

<%= stylesheet_link_tag 'resource' %>
<h1>Welcome to 101linkeddata</h1>
<% if !@result.nil? && @result.length > 0 %>
    <h2>Let's explore <a target="_blank" href="http://101companies.org">101companies.org</a></h2>
    <form class='form navbar-form navbar-search pull-left' action='/resource'>
      <div class='form-group'>
        <input style='width: 250px;' class='search-query' name='q' value='' id='search-query' placeholder="<%= t('landing.linkeddata_search') %>" type='text'>
      </div>
    </form>
    <table class="res">
      <tr>
        <th></th>
      </tr>

      <% @result.each do |s, p, o| %>
          <tr class="res <%= cycle('o', 'e') %>">
            <td>
              <h4>
              <%= render_resource s %>
              </h4>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>
<hr>
