<%= stylesheet_link_tag 'resource' %>

<title>101linkeddata</title>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#explore" aria-controls="home" role="tab" data-toggle="tab">Explore</a></li>
  <li role="presentation"><a href="#sparql" aria-controls="sparql" role="tab" data-toggle="tab">SPARQL</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="explore">
    <%= render('explore') %>
  </div>
  <div role="tabpanel" class="tab-pane" id="sparql">
    <%= render('sparql') %>
  </div>
  <div role="tabpanel" class="tab-pane" id="messages">...</div>
  <div role="tabpanel" class="tab-pane" id="settings">...</div>
</div>
