= content_for :title, "Difference between revisions"

%h1 Comparing revisions for page #{@title}

%a{:class => "btn btn-info", :href => "/#{@page.url}#page-changes"} Back to history list

%pre.differ
  = @diff
