<%= content_for :title, "Revision of page #{@page.full_title.gsub('@', '101')}" %>
<div class="revision-preview-title">
  <div>This is a revision of page <%= @page.full_title.gsub('@', '101') %></div>
  <div>Revision pages don't display section with linked data.</div>
</div>
<br/>
<a class="btn btn-info" href="/<%= @real_page.url %>#page-changes">Back to history list</a>
<div class="page-revision">
  <div id="page"></div>
</div>
