<div class="feature">
  <span class="badge">
  	<a href="javascript:;"><%= title %></a>
  	<a href="/wiki/Feature:<%= title %>" target="_blank"><i class="icon-list-alt"> </i></a>
  </span>
  <span class="text-error"/>
 </div>
