<div class="candidate">
  <span class="badge">
  	<a href="javascript:;"><%= title %></a>
  	<a href="/wiki/Contribution:<%= title %>" target="_blank"><i class="icon-list-alt"> </i></a>
  </span>
 </div>
