<div class="editormenu btn-group">

    <button data-editoraction="bold" class="btn btn-small">
        <b>Bold</b>
    </button>

    <button data-editoraction="italic" class="btn btn-small">
        <i>Italic</i>
    </button>

    <button data-editoraction="underline" class="btn btn-small">
        <u>Underline</u>
    </button>

    <button data-editoraction="strike" class="btn btn-small">
        <s>Strike</s>
    </button>

    <button data-editoraction="headline" class="btn btn-small">
        <b style="color:rgb(69, 150, 81);">Headline</b>
    </button>

    <button data-editoraction="link" class="btn btn-small">
        <u style="color:rgb(62, 133, 201);">Link</u>
    </button>

    <button data-editoraction="code" class="btn btn-small">
        <span style="font-family:Monaco, Consolas, 'Ubuntu Mono', 'Courier New', monospace, monospaced;">Code</span>
    </button>

    <button data-editoraction="picture" class="btn btn-small">
        <i class="icon-picture"></i> Image
    </button>

    <button data-editoraction="list-ol" class="btn btn-small">
        <i class="icon-list-ol"></i> List
    </button>

    <button data-editoraction="list-ul" class="btn btn-small">
        <i class="icon-list-ul"></i> Counted list
    </button>

    <br/>

    <button data-editoraction="slideshare" class="btn btn-small">
        <i class="icon-desktop"></i> Slideshare
    </button>

    <button data-editoraction="youtube" class="btn btn-small">
        <i class="icon-youtube"></i> Youtube
    </button>

    <button data-editoraction="fragment" class="btn btn-small">
        <i class="icon-code"></i> Fragment
    </button>

</div>
