<div class="editormenu btn-group">
  <button data-editoraction="bold" class="btn btn-small"><strong>Bold</strong></button>
  <button data-editoraction="italic" class="btn btn-small"><i>Italic</i></button>
  <button data-editoraction="headline" class="btn btn-small" style="color:rgb(69, 150, 81);">Headline</button>
  <button data-editoraction="link" class="btn btn-small" style="color:rgb(62, 133, 201);">Link</button>
  <button data-editoraction="code" class="btn btn-small" style="font:monospace">Code</button>
</div>
