  <div class="modal hide fade" id="creationmodal">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     <h4>Create new section...</h4>
    </div>
    <div class="modal-body">
     <p>Name:</p>
     <input id="sname" name="sname" type="text">
     <p>Insert after:</p>
     <select id="sposition"></select>
    </div>
    <div class="modal-footer">
     <a href="#" class="btn btn-primary" id="createSection">Create</a>
    </div>
   </div>
     <div class="modal hide fade" id="deletionmodal">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     <h4>Delete page</h4>
    </div>
    <div class="modal-body">
     <p>Do you really want to delete "<%=title %>"?</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
      <button class="btn btn-danger" id="pageDeleteSubmit">Yes</button>
    </div>
   </div>
   <div class="modal hide fade" id="renamemodal">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     <h4>Rename page</h4>
    </div>
    <div class="modal-body">
     <p>New title:</p>
     <input id="newTitle" name="newTitle" type="text">
    </div>
    <div class="modal-footer">
     <div class="loading-indicator">
      <img src="/assets/ajax-loader.gif"/>
      Renaming and fixing links ...
     </div>
     <a href="javascript:;" class="btn btn-primary" id="pageRenameSubmit">Rename</a>
    </div>
   </div>
   <div id="contentTop">
    <div id="topEditBar" class="editBar">
     <div class="btn-toolbar notEditing">
      <div class="btn-group">
       <button class="editbutton  btn btn-small" id="pageEditButton">
        <i class="icon-pencil"></i>
        <strong class="editbuttontext"> Edit</strong>
       </button>
       <button class="editbutton  btn btn-small" id="pageRenameButton">
        <i class="icon-share-alt"></i>
        <strong class="editbuttontext"> Rename</strong>
       </button>
       <button class="editbutton  btn btn-small" id="pageDeleteButton">
        <i class="icon-trash"></i><strong> Delete</strong>
       </button>
       <button class="editbutton  btn btn-small" id="sectionAddButton">
        <i class="icon-plus"></i><strong> Add Section</strong>
       </button>
      </div>
     </div>
     <div class="loading-indicator">
      <img src="/assets/ajax-loader.gif"/>
     </div>
     <div class="btn-toolbar">
      <div class="editButton btn btn-small" id="pageSourceButton">
       <i class="icon-file"></i>
       <strong>Show Source</strong>
      </div>
     </div>
     <div class="btn-toolbar editing">
      <div class="btn-group">
       <div class="editButton btn btn-small" id="pageCancelButton">
        <i class="icon-remove"></i>
        <strong>Cancel</strong>
       </div>
       <div class="editButton btn btn-small" id="pageSaveButton">
        <i class="icon-ok"></i>
        <strong>Save</strong>
       </div>
      </div>
     </div>
    </div>
    <div id="title">
     <h1><%=title %></h1>
    </div>
   </div>
   <div id="sections">
    <div id="sections-parsed">
    </div>
    <div id="sections-source">
     <div id="pageeditor">
      <div id="pageeditor-content"></div>
     </div>
    </div>
   </div>
   <div class="addtional-sections">
    <div class="section" id="backlinks">
     <h2>Backlinks</h2>
     <div id="backlinks-body"></div>
    </div>
   </div>
   <div class="addtional-sections" id="last-section">
   <div class="section" id="resources">
    <h2>Resources</h2>
   </div>
  </div>
  <hr>
