<div class="resource <%=fullName.replace(/\./g, '') %>">

  	<h5 class="resourcename" data-toggle="collapse"><ul><li><%=fullName %></li></ul></h5>
  	<br>
  	<div id="<%=name %>" class="resourcebar collapse"></div>

</div>

<br>
