<div class="resource <%=fullName %>">
  <i class="icon-chevron-right resourceButton"></i>
  <h5 class="resourcename" data-toggle="collapse"><%=fullName %></h5>
  <br>
  <div id="<%=name %>" class="resourcebar collapse"></div>
</div>
<br>
