<div class="resource <%=fullName %>">
  <i class="icon-circle-arrow-down resourceButton" data-toggle="collapse" data-target="#<%=name %>"></i>
  <h4 class="resourcename" data-toggle="collapse"><%=fullName %></h4>
  <br>
  <div id="<%=name %>" class="resourcebar collapse"></div>
</div>
<br>
