<div class="section">
	<div class="headlinecontainer">
		<h2 class="headline"><%= title %></h2>
		<div class="editbutton btn">
  			<i class="icon-edit"></i>
  			<strong class="editbuttontext">Edit</strong>
		</div>
	</div>
	<div class="section-content-container">
		<div class="section-content">
			<div class="section-content-parsed"/>
			<div class="section-content-source">
				<div class="editor"/>
			</div>

		</div>
	</div>
</div>
