<div class="section">
	<div class="headlinecontainer">
		<h2 class="headline"><%= title %></h2>
		<div class="editbutton editorbutton btn btn-small">
  			<i class="icon-pencil"></i>
  			<strong class="editbuttontext">Edit</strong>
		</div>
		<div class="cancelbutton editorbutton btn btn-small">
			<i class="icon-remove"></i>
  			<strong class="editbuttontext">Cancel</strong>
		</div>
		<div class="foldbutton editorbutton">
			<i class="icon-resize-small"></i>
		</div>
	</div>
	<div class="section-content-container">
		<div class="section-content">
			<div class="section-content-parsed"/>
			<div class="section-content-source">
				<div class="editor"/>
			</div>

		</div>
	</div>
</div>
<br>
