<div class="tour-item">
  <div>
    <a href="/tours/<%= title %>"><%= title %> by <%= author %> (<%= numOfPages %>)</a>
    <button class="btn btn-mini" type="button"><i class="icon-remove"></i></button>
    <button class="btn btn-mini" type="button"><i class="icon-pencil"></i></button>
    <hr>
  </div>
</div>
