<span class="tripel">
  <div class="arrow"> <%= arrow %></div>
  <div class="subject label"><%= s %></div>
  <div class="predicate"><%= p %></div>
  <div class="object label"><%= o %></div>
  </br>
</span>
