!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      A new contribution has been submitted. Please go 
      %a{:href => "#{@contribution.repo_link.full_url}"} here 
      and verify the contribution.
    %p
      101companies system.
