!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Dear #{@request.user.name},
    %p
      You contribution has been analyzed. Yon can see results in section
      %b Matching service findings
      %a{:href => "http://101companies.org/wiki/#{@request.page.url}#repo"} on this page.
    %p
      101companies team.
