!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Dear #{@contribution.user.name},
    %p
      Your Contribtion has been denied. For further Information contact an administrator.
    %p
      You also have the chance to try it again.
    %p
      101companies team.
