<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <h1>
      Dear <%= @contribution.user.name %>,
    </h1>
    <p>
      Your Contribtion has been verified, so it's officially accepted. Go to %a{:href => "http://101companies.org/#{@contribution.page.url}"}= @contribution.page.url to edit the wiki page.
    </p>
    <p>Keep in mind that any change will cause the page to be unverified, so an administrator has to review it again.</p>
    <p>
      101companies team.
    </p>
  </body>
</html>
