<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <h1>
      Dear <%= @contribution.user.name %>,
    </h1>
    <p>
      Your Contribtion has been denied. For further Information contact an administrator.
    </p>
    <p>
      You also have the chance to try it again.
    </p>
    <p>
      101companies team.
    </p>
  </body>
</html>
