!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Dear #{@contribution_page.user.name},
    %p
      You have successfully submitted new contribution to 101companies.
      Please wait, till it will be analyzed. We need some time to extract all interesting data
      from your contribution.
    %p
      Sincerely yours,
      %br/
      your 101companies team.
