!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Dear #{@contribution.repo_link.user},
    %p
      You have successfully submitted new contribution to 101companies.
      Please wait, till it will be verfied by an administrator.
    %p
      But you can already start to write documentation on the page
      %a{:href => "http://101companies.org/wiki/#{@contribution.url}"}= @contribution.url
    %p
      Hints to editing you page can find
      %a{:href => "http://101companies.org/wiki/#{@contribution.url}#editing-help"} here.
    %p
      101companies team.
