<table class='table'>
  <thead>
    <tr>
      <th>Index term</th>
      <th>Comment</th>
      <th>
        Page
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% mappings.each do |mapping| %>
      <tr>
        <td><%= mapping.index_term %></td>
        <td><%= mapping.comment %></td>
        <td>
          <%= mapping.page_title %>
        </td>
        <td>
          <%= link_to('Edit', edit_mapping_path(mapping), class: 'btn btn-success') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
