#header {
  height: 70px;
}

#header h1 {
  float: left;
}
#header div {
  float: right;
}

.header-buttons button {
  width: 100px;
  margin-bottom: 3px;
}

body {
  margin-bottom: 30px;
}

#creation {
  margin-top: 30px;
}

#clone {
  margin-top: 10px;
}

.candidate {
  float: left;
  margin: 2px;
}

.candidate span a {
  color: white;
}

#candidates-container {
  height: 100px;
}

#feature-container {
  margin-top: 30px;
  width: 100%;
}

.candidate.selected span a {
  color: #468847;
}

#clone li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 10px;
}

#clones-list li {
 margin-top: 10px;
}

.feature span a {
  color: white;
}

