// Place all the styles related to the exporter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$form_element_width: 450px
#create_contribution
  select
    width: $form_element_width
    height: 30px
  input
    width: $form_element_width - 10px
  textarea
    width: $form_element_width - 20px
  button
    margin-top: 20px

$avatar_size: 80px

.github_avatar
  height: $avatar_size
  width: $avatar_size
  border-radius: $avatar_size/2

.contribution
  vertical-align: top
  float: left
  margin-bottom: 30px
  background-color: #efefef
  border: #cccccc
  width: 40%
  padding: 15px
  margin-right: 30px
  display: inline-block
