// Place all the styles related to the exporter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid .span12
  margin-top: 50px

$avatar_size: 80px

.github_avatar
  height: $avatar_size
  width: $avatar_size
  border-radius: $avatar_size/2

.contribution
  margin-bottom: 30px
  background-color: #efefef
  border: #cccccc
  width: 40%
  padding: 15px
  margin-right: 30px
  display: inline-block
