@import "fonts"

.revision-preview-title
  color: #f5f5f5
  padding: 15px
  font-size: 24px
  background-color: darkred

.one-page-change
  line-height: 2em

.differ
  margin-top: 20px
  font-size: 12px
  font-family: $monospaced_font_family
  text-decoration: none
  del
    background-color: indianred
  ins
    background-color: lawngreen
