@import "fonts"

.revision-preview-title
  margin-top: 15px
  color: #f5f5f5
  padding: 15px
  font-size: 24px
  border-radius: 15px
  background-color: indianred
  line-height: 1.5em

#metasection
  display: none

.show_changes_button
  margin-bottom: 10px

$page_change_height: 37px

.one-page-change
  padding-left: 10px
  min-height: $page_change_height
  line-height: $page_change_height
  input
    vertical-align: baseline
    margin-right: 7px

.differ
  margin-top: 20px
  font-size: 12px
  font-family: $monospaced_font_family
  text-decoration: none
  del
    background-color: indianred
  ins
    background-color: lawngreen
