// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	//background-color: rgb(250,250,250);
	padding-top: 0px;
}

body {
	//background-color: rgb(250,250,250);
}


.container a{
  color: #043048;
  &:visited {
    color: #043048;
  }
  &:hover {
    color: #043048;
  }
}


h1, h2, h3, h4, h5, h6, h7{
	color: #333;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 19px;
}



h1 {
	font-size: 32px;
	font-weight: 700;
}

h1 .title-prefix {
	font-weight: normal;
}

.resource-prefix {
	font-size: 13px;
	margin-right: 1px;
}

.resource-postfix {
	margin-left: 1px;
}

h5  {
	margin: 0px;
	font-size: 14px;
}

.container h2 a {
	color: #333;
}


.tablecontainer {
	width: 40%;
	padding: 10px;
}

#main {
  margin: -10px 10% 0px 10%;
  background-color: rgb(250,250,250);
  border-radius: 4px;
  box-shadow: 0 0 2px 1px #777 ,0 0 4px 1px #397AA1;
  background-color: rgb(240,240,240);
  padding: 15px 25px 5px 25px;
  height: 100%;
  margin-top: 30px;
}

.header {
	padding: 0px 0px 0px 10%;
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(top, rgb(250,250,250) 0%, rgb(230,230,235) 100%);
	background-image: -moz-linear-gradient(top, rgb(250,250,250) 0%, rgb(230,230,235) 100%);
	background-image: -o-linear-gradient(top, rgb(250,250,250) 0%, rgb(230,230,235) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(250,250,250)), color-stop(1, rgb(230,230,235)));
	background-image: -webkit-linear-gradient(top, rgb(250,250,250) 0%, rgb(230,230,235) 100%);
	background-image: linear-gradient(to bottom, rgb(250,250,250) 0%, rgb(230,230,245) 100%);
	box-shadow: 0 0 3px 1px #777 ,0 0 2px 1px #397AA1;
}

header {
	height: 57.3px;
}

#logo {
	height: 107.3px;
	width: 180px;
	background-size: 100%;
	float: left;
	background-image: url(/assets/logo2.jpg)
}


#page {
	width: 100%;
}


#nav {
  border-radius: 3px;
  padding-bottom: 40px;
  margin-left: 10px;
  float: right;
  margin-top: 10px;
}

#nav div {
	font-weight:bold;
	float: right;
	margin: 0px 10px 0px 0px;
	padding: 2px 15px 2px 15px;
	box-shadow: 0 0 2px 1px #888,0 0 3px 1px #397AA1;
	background-color: rgb(220,220,220);

    -webkit-transition: background 50ms ease-in 00ms; /* property duration timing-function delay */
    -moz-transition: background 150ms ease-in 00ms;
    -o-transition: background 150ms ease-in 00ms;
    transition: background 150ms ease-in 00ms;
	border-radius: 3px;
}

#nav div:hover {
	background-color: #3E6379;
}

#nav a {
	color: #060224;
}

footer {
	text-align: center;
	font-size: 16px;
	margin-top: 10px;
    padding: 10px 0px 15px 5px;
    position: absolute;
    bottom: 0px;
    width: 100%;
	background-color: rgb(250,250,250);
}

.item {
	padding: 1px 0px 1px 3px;
}

.indexaction, .newaction {
	font-weight:bold;
	font-size: 11px;
	padding: 6px 12px 6px 12px;
	box-shadow: 0 0 1px 1px #888;
	border-radius: 1px;
    background: -webkit-linear-gradient(#eeedfa,#bfbfc9);
    background: -moz-linear-gradient(#eeedfa,#bfbfc9);
    background: -o-linear-gradient(#eeedfa,#bfbfc9);
    background: -ie-linear-gradient(#eeedfa,#bfbfc9);

    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    -ie-transition: background 200ms ease-out;

    background-size:1px 50px;
}
.indexaction:hover {
	   background-position:25px;
}

a.newaction {
	margin-bottom: 10px;
}


p {
	margin-bottom: 1px;
}

#wikicontent {
	padding: 5px 15px 15px 15px;
	margin: 0px 15px 0px 15px;
}

#wikicontent p, #wikicontent ul {
	margin-left: 10px;
	font-size: 16px;
	line-height: 1.5;
}

.sep {
	height: 0px;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #999;
}

.container {
	//background-color: #FFFFFF;
	-webkit-border-radius: 2px;
      -moz-border-radius: 2px;
        border-radius: 2px;
	padding: 10px 20px 10px;
	margin-top: 60px;
	overflow: hidden;
}

.headlinecontainer {
	width: 98%;
	height: 50px;
}

.editorbutton {
	float: right;
	margin-top: 20px;
}


.loading-indicator {
	float: right;
	width: 16px;
	height: 16px;
	margin-top: 1px;
	margin-right: 10px;
	visibility: hidden;
}

#topeditbar .loading-indicator {
	margin-top: 20px;
}

.cancelbutton, #pageCancelButton {
	margin-right: 10px;
	display: none;
}

#pageSaveButton {
display: none;
}

.editorbutton a:visted{
	float: right;
}

.foldbutton {
	width: 20px;
	height: 20px;
	margin-top: 20px;
	margin-right: 5px;
}

.headline {
	float: left;


}

@import url(http://fonts.googleapis.com/css?family=Leckerli+One);
.brandname {
  display: block;
  float: left;
  padding: 10px 20px 10px 0px;
  margin-left: 20px;
  text-shadow: 0 4px 0 #dddddd;
  font-family: 'Leckerli One';
  color: #333;
  color: #B62424;
  font-size: 18px;
}

.brandname:hover {
  color: #333;
  text-decoration: none;
}

.brandname:visted {
  color: #B62424;
}


.navbar-fixed-top {
	border-radius: 10px;
	box-shadow:0 0 10px 1px #333;
}


#sections {
	float: left;
	width: 200%;
}

.addtional-sections {
	float: left;
	width: 100%;
}

#sections-parsed, #sections-source {
	width: 50%;
	float: left;
	min-height: 10px;

}

#sections-parsed > ul {
  display: none;
}

.section {
	margin-top: -10px;
	margin-bottom: -5px;
}

#last-section {
	padding-bottom: 35px;
}

#last-section hr {
	width: 100%;
}
.section-content-container {
	overflow: hidden;
	width: 100%;
}

.section-content, .section-content ul, .section-content p {
	width: 200%;
	font-size: 14px;
}

.section-content-parsed,.section-content-source {
	float: left;
	width: 50%;
	min-height: 10px;
}

.section-content-parsed p, .section-content-parsed ul {
	width: 95%;
}
.section-content-parsed pre {

}

.section-content-source, #sections-source {
	height: 0px;
	margin-bottom: 30px;
}

.section-content p {
	margin-top: 4px;
	margin-bottom: 7px;
}

.editor,  #pageeditor {
	float: left;
	width: 60%;
	height: 0px;
}
.ace_content {
font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace;


}

#categories {
	margin-bottom: 20px;
}

.label {
	background-color: #555;
	font-weight: 500;
}

.label a {
	color: white;
	text-decoration: none;
}

.tripel {
	color: gray;
 	text-align: left;
 	margin-bottom: 2px;
 	margin-left: 10px;
 	font-family: "Open Sans"
}

.subject, .predicate, .object, .arrow {
	margin-left: 4px;
	margin-right: 4px;
	font-size: 12px;
	float: left;
}



.arrow {
	font-size: 12px;
}
.predicate {
	font-style: italic;
	font-weight: bold;
	color: #333;
	background-color: white;
}

#backlinks {
	margin-top: 5px;
	margin-bottom: 20px;
	width: 100%;
}


#backlinks a {
	float:left;
	margin: 3px;
}

#backlinks-body {
	width: 50%;
	height: 40px;
}

#backlinks-continued {
	width: 50%;
}

#resources {
	display:none;
	width: 100%;
	margin-top: 25px;
}


.resource {
	width: 100%;
	float: left;
	margin-left: 20px;
}

.resource ul {
	margin: 0px;
}

.resourcebar {
	float: left;
	width: 100%;
}

.resourcename {
	float: left;
	font-family: 'Open Sans';
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}


.resourceButton {
	margin-right: 5px;
	float: left;
}

.resourcebox {
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 10px;
	width: 100%;
}


.resourcebox .primary, .resourcebox .secondary  {
	width: 5px;
	height: 5px;
	float: left;
	margin: 6px;
	margin-left: 10px;
	margin-right: 4px;
	border-radius: 2px;
}

.resourcebox .primary {
	background-color: #303030;
}

.resourcebox .secondary {
	border: solid 2px #303030;
	width: 2px;
	height: 2px;
}


.resoucebox a {
	width: 15px;
}

#sourcelinks {
	visibility: hidden;
}

.highlight {
	margin-top: 8px;
	margin-bottom: 8px;
}

.highlight pre {
	padding: 7px;
}

/* change font for code snippets */
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
.highlight pre span {
    font-family: Inconsolata;
    font-size: 14px;
}

#top {
	width: 98%;
	margin-bottom: 70px;
	height: 2px;
}

#title {
	float: left;
}
#topeditbar {
	margin-top: 20px;
	float: right;
	height: 20px;
}

.topButton {
	margin: 2px;
	margin-top: 20px;
	float: right;
}

.userdropdown {
	background-color: red;
}

h2, h3, h4, h5 {
	font-weight: normal;
}

.smallinfo {
	font-size: 11px;
	margin-top: -18px;
	margin-bottom: 10px;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

#infofooter {

}

#additional-resources {
	margin-bottom: 20px;
}

.additional-sections {
	width: 100%;
	float: left;
}

span.continue {
	margin-left: 12px;
	margin-top: 2px;
	margin-bottom: 5px;
	font-size: 15px;
}

#search-results {
	margin: 25px;
}

#disqus_loader {
	margin-bottom: 10px;
}
