@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

img {
    margin-bottom: 10px;
}

.big-list li a {
    line-height: 2em;
}

text:hover {
    opacity: 0.7 !important;
}

text {
    cursor: pointer;
    opacity: 1;
}

.header-nav-link {
  height: 80px;
  line-height: 55px !important;
  vertical-align: middle;
  font-size: 16px;
}

.navbar-brand {
  height: 80px;
  line-height: 55px !important;
  vertical-align: middle;
  font-size: 22px;
  color: white !important;
}

.tag-cloud {
  width: 100%;
  min-height: 300px;
  height: 100%;
}

html {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

body {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 25px;
}

.col-md-3 {
    padding-bottom: 100%;
    margin-bottom: -100%;
}

.category-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.page-preview {
  padding: 3px;

  h2 {
    font-weight: bold;
    font-size: 16px;
  }
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

.search-query {
  margin-top: 22px;
}
