/*
 *= require font-awesome
 *= require style.min
 *= require_self
*/

.span6 {
    text-align: justify;
}

img {
    margin-bottom: 10px;
}

#codercat {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.big-list li a {
    line-height: 2em;
}
