@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.page {
  margin-top: 40px;
  font-size: 17px;
}

.col-md-6 {
    text-align: justify;
}

img {
    margin-bottom: 10px;
}

.big-list li a {
    line-height: 2em;
}

text:hover {
    opacity: 0.7 !important;
}

text {
    cursor: pointer;
    opacity: 1;
}

body {
    font-family: Open Sans,Source Sans Pro,Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.page-headline {
    font-size: 42px;
    text-align: center;
    padding-top: 30px;
}

.color-1 {
    background: #4baad3;
    color: #ffffff;
}

.big-list {
  font-size: 25px;
  font-weight: 300;
  list-style: none;
  li {
    a {
      color: white;
    }
  }
}
