#help_login

  $main_width: 813px

  width: $main_width
  margin-left: auto
  margin-right: auto
  font-size: 24px
  line-height: 1.5em
  text-align: justify

  a
    text-decoration: underline

  $margin_h1: 36px

  h1
    text-align: center
    font-size: 48px
    line-height: 52px
    margin-top: $margin_h1
    margin-bottom: $margin_h1

  .step
    width: $main_width
    clear: both
    margin-bottom: 30px

  #step1
    vertical-align: middle
    height: 300px
    $step1_left_width: 320px

    .half-left
      height: 300px
      width: $step1_left_width
      float: left

    .half-right
      height: 300px
      width: $main_width - $step1_left_width
      float: right
      margin-top: 55px

  #step2
    img
      margin-top: 40px
      margin-bottom: 40px
      max-width: $main_width

  $start_contributing_button_width: $main_width/2
  $start_contributing_button_height: $start_contributing_button_width/7

  #step3
    a
      text-decoration: none
    input
      min-height: $start_contributing_button_height
      height: $start_contributing_button_height
      font-size: 32px
      display: inline-block
