@import url(https://fonts.googleapis.com/css?family=Leckerli+One);

$monospaced_font_family_with_bold: "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospaced;
$monospaced_font_family: "Monaco", $monospaced_font_family_with_bold;
$normal_font_family: "Tahoma", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$logo_font: "Leckerli One";
