<h2>Possible contributors without GitHub name</h2>
<% if defined?(@todo_names) %>
  <ul>
    <% @todo_names.each do |name| %>
      <li>
        Search
        <a href="/Contributor:<%= name %>" target="_blank">
          <%= name %>
        </a>
        <a href='<%= "https://www.google.de/#q=site%3Agithub.com+#{name.gsub(" ", "+")}" %>'>
          <i class="icon-github-alt icon-large"></i>
          On github
        </a>
      </li>
    <% end %>
  </ul>
<% end %>
